html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template:
    'header' min-content
    'dump' auto;
}

#header {
  display: flex;
  align-items: center;
}

#header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 2px;
}

#link {
  font-size: x-large;
  cursor: pointer;
  border-radius: 20px;
  padding: 2px;
  position: relative;
}

#link:hover {
  background-color: black;
}

#input-dump {
  height: 100%;
  overflow: auto;
}
