html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template: 
    "header" min-content
    "body" auto
    "footer" 2px
}

#header {
  display: flex;
  align-items: center;
}

#title {
  margin: 0px;
  flex-grow: 1;
  order: 2;
  text-align: center;
}

#error {
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 2px;
}

#error:empty {
  display: none;
}

.btn-pressed{
  border-style: inset;
  background-color: darkgray;
}

.btn-not-pressed {
  border-style: outset;
}

/**
 *
 */
#golden {
  overflow: hidden;
  height: 100%;
}

.golden-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
