html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template: 
    "header" min-content
    "body" auto;
}

#error {
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 2px;
}

#error:empty {
  display: none;
}

.command-data {
  margin: 0px;
  padding: 3px;
}

.command {
  background-color: lightgray;
}

.recv-data {
  background-color: limegreen;
}

.send-data {
  background-color: green;
}

.error-data {
  background-color: red;
  color: white;
}

/**
 *
 */
#golden {
  overflow: hidden;
  height: 100%;
}

.ws-connection {
  overflow: hidden;
  height: 100%;
}

.data {
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}