html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template:
    'header' min-content
    'body' auto;
}

#error {
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 2px;
}

#error:empty {
  display: none;
}

.btn-pressed {
  border-style: inset;
  background-color: darkgray;
}

.btn-not-pressed {
  border-style: outset;
}
